.App {
  background-image: url('/images/second.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

:root {
  --navbar-height: 60px;
}

.new{
  margin-top: 30px;
  width: 100%;
  height: 800px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.inner{
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
  height: 700px;
  width: 600px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 60px;
}

.more--inner{
  
  border-radius: 10px;
  margin-top: 20px;
  height: 500px;
  width: 500px;
  background-image: url('/images/forth.jpg');
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form--div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 /* Rank */
 .rank--outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.rank--div {
  width: 600px;
  background-color: #6D4C41; /* Dark wood color for the table */
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rank--div h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.rank-record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 10px 0;
  background-color: transparent;
  color: white;
}

.refresh-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #A9A9A9; /* Dark gray color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.refresh-button:hover {
  background-color: #808080;
}

/* Shop */
.shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--navbar-height));
  padding-top: var(--navbar-height); /* This ensures content starts below the navbar */
}

.shop-content {
  width: 600px;
  background-color: #6D4C41; /* Dark wood color for the table */
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
}

.shop-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.shop-content p {
  margin-bottom: 20px;
}

.shop-content button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #A9A9A9; /* Dark gray color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.shop-content button:hover {
  background-color: #808080;
}

/* About */
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); 
}

.about-content {
  width: 600px;
  background-color: #6D4C41; 
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  margin-top: var(--navbar-height);
}

.about-content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-content p {
  text-align: left;
  margin-bottom: 20px;
}

/* Servers */
.server-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.server-item {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  width: 300px; /* or any width you prefer */
  text-align: center;
}

/* Add any additional styling you want for the server items */
.server-item:hover {
  background-color: #444;
}

/* Game */
.game-container {
  position: relative;
  min-height: calc(100vh - var(--navbar-height)); /* Adjust this if you have a navbar */
  /* Your existing styles for game-container */
}

.game-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: #333; /* Dark background for the control panel */
  display: flex;
  justify-content: space-around; /* This will space out your buttons evenly */
  align-items: center;
}

.game-controls button,
.game-controls span {
  flex: 1; /* Give each button and the span equal width */
  margin: 0 5px; /* Space out the buttons */
  padding: 10px; /* Padding inside buttons */
  background: #6D4C41; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px; /* Rounded corners for buttons */
  cursor: pointer;
}

.game-controls button:hover {
  background: #A9A9A9; /* Button hover state color */
}

.game-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Space above the controls */
}

.table-cards {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card-image {
  width: 100px; /* Set the size of your card images */
  height: auto;
  margin: 0 5px;
}

.game-info {
  text-align: center;
  color: white; /* Or any color that matches your design */
}

